.current_task
{
    background-color: rgba(241,243,251,0.5);
    border-left: 1px solid #e7e9f1;
    display: flex;
    flex-direction: column;
}

.current_task_middle_block
{
    padding: 25px;
}

.current_task__input
{
    padding: 12px 15px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #444;
    outline: none;
    width: 96%;
    border: none;
    background: transparent;
    box-sizing: border-box;
}

.current_task__description
{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #444;
    width: 288px;
    height: 350px;
    border: none;
    outline: none;
    resize: none;
    padding: 15px;
    background-color: transparent;
}

.tags_list
{
    display: inline-flex;
    margin-right: 4px;
    position: relative;
}

.delete_tag
{
    border: none;
    background: url(./../../Icons/cross.png) no-repeat;
    background-size: 85%;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: absolute;
    bottom: 9px;
    right: -8px;
}

.add_tag
{
    border: none;
    background: url(./../../Icons/cross.png) no-repeat;
    background-size: 85%;
    width: 19px;
    height: 19px;
    cursor: pointer;
    transform: rotate(45deg);
    margin-left: 15px;
}

.add_tag:disabled
{
    cursor: not-allowed;
}

.current_task__bottom_block
{
    padding: 10px 5px;
    border-top: 1px solid #D3D5DD;
    margin: auto 5px 0 5px;
    position: relative;
}

.current_task__project_button
{
    border: none;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    color: #444;
    background: transparent;
    padding: 7px 9px;
    border-radius: 1px;
}

.projects_list
 {
    width: 150px;
    bottom: 45px;
    left: 5px;
}

.projects_list .new_task_project_current
{
    background-color: #F1E9FB;
}

.projects_list .task-context-menu__button:hover
{
    background: transparent;
}

.projects_list .new_task_project_current:hover
{
    background-color: #F1E9FB;
}

.multiple_selection {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: rgba(241, 243, 251, 0.5);
    border-left: 1px solid #e7e9f1;
}

.multiple_selection__title {
    margin-bottom: 13px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #444;
}

.multiple_selection__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    padding: 8px 0 9px;
    border: none;
    border-radius: 4px;
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}

.multiple_selection__button-wrapper:hover {
    background-color: rgb(240, 242, 242);
}

.multiple_selection__button {
    width: 40px;
    height: 35px;
}

.multiple_selection__button-delete {
    background: center url(./../../Icons/trashcan.png) no-repeat;
    background-size: 65%;
}

.multiple_selection__text {
    margin-top: 1px;
    padding: 0;
}
