.App
{
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar 
{
    background-color: #f1f3fb;
    width: 5px;
}

::-webkit-scrollbar-thumb 
{
    height: 100px;
  background-color: #e7e9f1;
  border-radius: 9em;
}
  
::-webkit-scrollbar-thumb:hover 
{
  background-color: #d2cbd6;
}

::selection 
{
  background: #B0C3F1;
}