.main
{
    background-color: #f8f9ff;
    width: 50%;
    padding: 20px 30px;
}

.main__title
{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #444;
    padding: 12px 0;
}

.main_title_wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.clear-trash-icon
{
    border: none;
    background: url(./../../Icons/broom.png) no-repeat;
    background-size: 90%;
    width: 30px;
    height: 27px;
    cursor: pointer;
}

.main_input-wraper
{
    position: relative;
    margin-bottom: 15px;
    margin-top: 8px;
}

.main_input-wraper:hover .main__placeholder
{
    color: #f58c74;
}

.main_placeholder-wraper
{
    display: flex;
    align-items: center;
    position: absolute;
    padding: 12px 15px;
    cursor: text;
}

.main__placeholder
{
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: #8c8c8c;
    margin-left: 6px;
}

.main__input
{
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    border: 1px solid #dfdae3;
    outline: none;
    background: #dfdae3;
    color: #444;
    width: 100%;
    border-radius: 4px;
    padding: 12px 18px;
    box-sizing: border-box;
}

.main__input:focus
{
    border: 1px solid #f58c74;
}

.main_input-condiments
{
    display: flex;
    position: absolute;
    top: 7px;
    right: 18px;
}

.input-icon
{
    padding: 3px 6px;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
    width: 34px;
    position: relative;
}

.input-icon:hover
{
    background-color: hsla(0,0%,100%,.2);
}

.input-icon__arrow
{
    transform: rotate(90deg);
    padding-left: 9px;
    margin-left: 13px;
    padding-top: 5px;
    width: 30px;
}

.main__input-icon_right-border:after
{
    content: "";
    border-right: 1px solid #bebebe;
    position: absolute;
    height: 17px;
    top: 6px;
    left: 40px;
}

.context-menu
{
    position: absolute;
    box-shadow:  0px 5px 18px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    background: #fff;
    z-index: 1;
    cursor: default;
}

.calendar
{
    width: 260px;
    height: 300px;   
    top: 30px;
    left: 5px;
}

.task-condiments
{
    width: 221px;
    top: 30px;
    left: 47px;
    padding: 15px 8px;
    box-sizing: border-box;
}

.priorities-wrapper
{
    border-bottom: 1px solid #dfdae3;
    padding: 0 8px;
    margin-bottom: 8px;
}

.priorities__header
{
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    color: #969696;
}

.priorities
{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.priorities_icon-wrapper
{
    border-radius: 4px;
    padding: 6px 7px 2px;
    cursor: pointer;
}

.priorities_selected
{
    background: #f1f3fb;
}

.main_tasks-list
{
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    height: 77vh;
    padding-right: 5px;
}

.main_task-wrapper
{
    display: flex;
    align-items: center;
    position: relative;
}

.main_task-checkbox
{
    width: 13px;
    height: 13px;
    border: 1px solid #a3a3a3;
    cursor: pointer;
    position: absolute;
    left: 15px;
}

.main_task-checkbox_p1
{
    border: 1px solid #e03131;
}

.main_task-checkbox_p2
{
    border: 1px solid #ffb000;
}

.main_task-checkbox_p3
{
    border: 1px solid #4772fa;
}

.main_task-checkbox:hover
{
    box-shadow: 0px 0px 2px 0px #808080;
}

.main_tasks-list__item
{
    padding: 9px 12px 9px 40px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #444;
    outline: none;
    width: 96%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #e7e9f1;
    box-sizing: border-box;
}

.main_task-wrapper:hover .main_tasks-list__item
{
    background: #f3eef7;
}

.main_tasks-list__item:focus
{
    background: #e7e9f1;
}

.main_context-menu-wrapper
{
    display: none;
    position: absolute;
    right: -3px;
    cursor: pointer;
    padding: 0 4px;
    border-radius: 3px;
}

.main_task-wrapper:hover .main_context-menu-wrapper
{
    display: block;
}

.task-context-menu
{
    width: 210px;
    height: 300px;   
    top: 0;
    right: 20px;
}

.task-context-menu__button
{
    cursor: pointer;
    display: flex;
    border: none;
    align-items: center;
    padding: 10px 12px;
    width: inherit;
    background-color: transparent;
}

.task-context-menu__button:hover
{
    background-color: #efefef;
}

.task-context-menu__text
{
    font-size: 13px;
}

.message_about_done_task
{
    background: #2A2D33;
    border-radius: 3px;
    padding: 10px 13px 10px 5px;
    bottom: 20px;
    align-items: center;
    left: 0;
    right: 0;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.cancel_button
{
    border: none;
    cursor: pointer;
    background: transparent;
    color: #f58c74;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 5px;
}

.message_text
{
    color: #fff;
}

.exit_icon
{
    cursor: pointer;
    padding: 0px 3px;
    border-radius: 2px;
}

.create_project__background
{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    background: #000000;
    opacity: 0.3;
}

.create_project
{
    background: #fff;
    border-radius: 3px;
    padding: 9px 20px 15px 22px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    width: max-content;
    height: 210px;
}

.create_project_title-wrapper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create_project__title
{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #444;
    padding: 12px 0;
}

.create_project__input
{
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    border: 1px solid #dfdae3;
    outline: none;
    background: #dfdae3;
    color: #444;
    width: 300px;
    border-radius: 4px;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.create_project__input:hover
{
    border: 1px solid #f58c74;
}

.color_block
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.color_label
{
    margin-right: 20px;
    font-size: 15px;
    color: #787878;
    cursor: pointer;
}

.color_circle
{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 100ms ease 0s;
}

.color_circle:hover
{
    transform: scale(1.2);
}

.colors_collection
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    top: 145px;
    left: 77px;
}

.create_project_buttons-wrapper
{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.create_project_cancel_button
{
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: #a3a3a3;
    background-color: #fff;
    font-weight: 600;
    padding: 7px 12px;
    cursor: pointer;
}

.create_project_cancel_button:hover
{
    background-color: #f3f3f3;
}

.create_project_save_button
{
    border: 1px solid #f58c74;
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
    color: #f58c74;
    font-weight: 600;
    margin-left: 15px;
    padding: 7px 13px;
}

.create_project_save_button:disabled
{
    cursor: not-allowed;
    opacity: 0.4;
}

.create_project_save_button:hover
{
    background-color: #f8f9ff;
}